{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Accessible Voting System</title>

  <link rel="stylesheet" href="{% static 'polls/css/styles.css' %}">
</head>
<body>

<header class="site-header">
  <div class="header-inner container">
    <h1 id="site-title">Accessible Voting & Survey System</h1>

    <nav>
      <a class="btn" href="{% url 'polls:welcome' %}">Home</a>
      <a class="btn" href="{% url 'polls:vote' %}">🗳️ Vote Now</a>
      <a class="btn" href="{% url 'polls:survey' %}">📝 Take Survey</a>
      <a class="btn" href="{% url 'polls:results' %}">📊 View Results</a>
       <!-- Voice control button -->
      <button class="btn" onclick="startVoiceMenu()">🎤 Start Voice Control</button>
    </nav>
  </div>

  <!-- Accessibility toolbar -->
<div class="accessibility-toolbar" role="toolbar" aria-label="Accessibility toolbar">
  <button onclick="toggleContrast()" aria-pressed="false">High contrast</button>
  <button onclick="increaseFont()">A+</button>
  <button onclick="decreaseFont()">A-</button>
  <button id="audioToggle" onclick="toggleAudio()">🔊 Audio</button>
</div>
</header>

<main class="container" role="main">
  {% block content %}
  {% endblock %}

  </div>
</main>


<footer class="site-footer">
  <div class="footer-text">
    Created by Xolewe, Nongcebo, Wendy, Asemahle | GirlCode Project
  </div>

  

</footer>

<script src="{% static 'polls/js/script.js' %}" defer></script>
</body>
</html>
