{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Accessible Voting System</title>
  <link rel="stylesheet" href="{% static 'polls/css/styles.css' %}">
  <script src="{% static 'polls/js/script.js' %}" defer></script>
</head>
<body>
  <div class="accessibility-toolbar" role="toolbar" aria-label="Accessibility toolbar">
    <button onclick="toggleContrast()" aria-pressed="false">High contrast</button>
    <button onclick="increaseFont()">A+</button>
    <button onclick="decreaseFont()">A-</button>
    <button id="audioToggle" onclick="toggleAudio()">🔊 Audio</button>
  </div>

  <header>
    <h1 id="site-title">Accessible Voting & Survey System</h1>
  </header>

  <main class="container" role="main">
    {% block content %}{% endblock %}
  </main>

 footer>
        <p style="text-align:center; padding:15px; background:#eee;">
            &copy; Created by Xolelwe, Nongcebo, Asemahle, Wendy - GirlCode-2025
        </p>
    </footer>
</body>
</html>
